{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h3 class="text-center-left">About Me</h3>


<p>Hello there! I am a computer science student at Ontario Tech University (OTU). MMA is my favorite sport to watch, and I am deeply passionate about programming and the opportunities it brings. Combining my love for MMA and programming seemed like a natural choice—so here I am!</p>

<h3 class="text-left">About This Website</h3>
<p>There are many websites like this, so what's the point? Well, this is part of my overall final project. I built a web scraper to gather data instead of relying on an API. I created this website to host the database and decided to make it a queryable database for people to explore. Finally, I plan to build a machine learning model to analyze this data and predict the winner of each scheduled bout. I enjoy challenging myself, so I thought it would be cool to build everything from scratch!</p>

{% endblock %}